body {
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    text-align: left;
    font: normal normal normal 45px/56px Square721 BT;
    letter-spacing: 0;
    color: #444444;
}

a {
    text-decoration: none;
    margin-top: 1em;
    justify-content: flex-end;
}

.logo > img {
    height: 40vh;
    margin-bottom: 0;
    margin-left: 1%;
}

.logo > div {
    margin-left: 1em;

    font-size: 30px;
    color: white;
}

.login-container {
    width: 100%;

}

form.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 60vh;
    background: #2B2D426D 0 0 no-repeat padding-box;
    box-shadow: 0 5px 6px #00000029;
    border-radius: 40px;
    margin-bottom: 1em;
}

form.register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 75vh;
    background: #2B2D426D 0 0 no-repeat padding-box;
    box-shadow: 0 5px 6px #00000029;
    border-radius: 74px;
}

.login > div {
    font: normal normal normal 20px/27px Segoe UI;
    font-size: 30px;
}

.Register > div {
    font: normal normal normal 20px/27px Segoe UI;
    font-size: 30px;
}

button {
    margin-bottom: 1em;
}


button {
    background: rgba(250, 213, 213, 0.83) 0 0 no-repeat padding-box;
    box-shadow: 0 3px 6px #00000029;
    width: 90%;
    height: 5vh;
    border: none;
    color: #212121;
    margin-top: 1em;
    font-size: 20px;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
}

.login-banner {
    margin-bottom: 1em;
    color: white;
}

input, textarea {
    width: 90%;
    height: 4vh;
    background: #F0F0F0 0 0 no-repeat padding-box;
    box-shadow: 0 3px 6px #00000029;
    border: none;
    border-radius: 20px;
    padding: 1em;
    margin-bottom: 1em;
}

.upload-file {
    font: normal normal normal 30px/31px Segoe UI;
    text-decoration: none;
    color: black;

}
.upload-file:hover{
    text-decoration: none;
}
