.settings{
    display: flex;
    flex-direction: column;
    margin-top: 5em;
    margin-left: 10em;
}

.settings-panel{
    display: flex;
    flex-direction: column;
}

.settings>div{
    display:flex;
    flex-direction: row;
    margin-left: 1em;
    margin-bottom: 2em;
    font: normal normal normal 25px/27px Segoe UI;
    color: white;
}


.settings>div>p{
    margin-right: 2em;
}
